<p>
  <b>Name:</b>
  <%=h @family_member.name %>
</p>

<%= link_to 'Edit', edit_family_family_member_path(@current_family, @family_member) %> |
<%= link_to 'Back', family_family_members_path(@current_family) %>